@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #191919;
	--foreground: #ffffff;
	--primary-color: #00796b;
	--darknesPrimaryColor: #18302d;
	--altBackgroundColor: #1c1c1c;
	--borderColor: #262626;
	--boxColor: #1a1a1a;
	--textColor: #b3b3b3;
	--textSpecial: #8a8a8a;
	--advicebot: #5865f2;
	--channelColor: #80848e;
	--sidebarColor: #141414;
	--silverColor: #9ca3af;
	--boxColorDashboard: #1e1e1e;
	--warningColor: #f97316;
	--disabledButton: #6b7280;
	--errorColor: #ef4444;
	--darknesErrorColor: #401e1e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
